@import "tailwindcss";

:root {
    --bg: #ffffff;
    --text: #111827;
    --subtext: #6b7280;
    --surface: #f3f4f6;
    --surface-2: #e5e7eb;
    --border: #e5e7eb;
    --hover: #f3f4f6;
}

.dark {
    --bg: #1E1E1E;
    --text: #dedede;
    --subtext: #7c7c7c;
    --surface: #303030;
    --surface-2: #2a2a2a;
    --border: #2a2a2a;
    --hover: #2a2a2a;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
}

body {
    font-family: 'Pretendard-Regular', sans-serif;
}

.gradient-text {
    background: linear-gradient(45deg, #3B82F6, #1E40AF, #60A5FA, #2563EB);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradientMove 3s ease-in-out infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 767px) {
    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
    }
    
    button, input, textarea {
        touch-action: manipulation;
    }
    
    html {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
}
